DEMO_SECRET=change-me-to-a-long-random-secret
CTF_FLAG=flag{sha256_length_extension_mastered}
CTF_ADMIN_FLAG=flag{admin_privilege_escalation_success}
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDfDbfEpwXywSJcmkpsHxtcUxMPHzi0HwQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=length-ad64f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=length-ad64f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=length-ad64f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=850176984741
NEXT_PUBLIC_FIREBASE_APP_ID=1:850176984741:web:d3a1ec5ce7f5f85c716f4c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-PWGCHQRKE2
